@use "@styles/breakpoints.scss" as *;

.gridFull {
  grid-template-columns: 1fr;
}

.gridHalf {
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.gridLeft {
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 2fr 1fr;
  }
}

.gridRight {
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 2fr;
  }
}
